@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black-1000: #151619;
	--black-900: #1d1f22;
	--black-800: #2b2d31;
	--black-700: #35393f;
	--black-600: #5a6069;
	--black-500: #7c8187;
	--black-400: #c1c4cb;
	--black-300: #e4e4e4;
	--black-200: #f5f5f5;
	--white: #ffffff;

	--orange: #e46643;
	--orange-hover: #f39765;

	--heading: #35393f;
	--background: #fff;
	--section-heading-bg: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
	:root {
		--heading: #c1c4cb;
		--background: #151619;
		--section-heading-bg: #1d1f22;
	}
}

* {
	font-family: Roboto;
}
img {
	max-width: 100%;
	height: auto;
}

html,
body,
main {
	height: 100%;
}
body {
	color: rgb(var(--foreground-rgb));
	background-color: var(--background);
	overflow: hidden;
}

/* =========== Typography =========== */
.heading_m {
	color: var(--heading);

	/* Heading (M) */
	font-size: 15px;
	font-weight: 400;
	line-height: normal;
}

.heading_s {
	color: var(--heading);

	/* Heading (S) */
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 2px;
}
.body_s {
	color: var(--heading);

	/* Body (M) */
	font-size: 13px;
	font-weight: 300;
	line-height: normal;
}
.preview {
	font-family: Roboto Slab;
}
.preview_h1 {
	color: var(--black-700, #35393f);

	/* Preview H1 */
	font-size: 32px;
	font-weight: 700;
	line-height: normal;
}
.preview_h2 {
	color: var(--black-700, #35393f);
	/* Preview H2 */
	font-size: 28px;
	font-weight: 300;
	line-height: normal;
}
.preview_h3 {
	color: var(--black-700, #35393f);
	/* Preview H3 */
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
}
.preview_h4 {
	color: var(--black-700, #35393f);
	/* Preview H4 */

	font-size: 20px;
	font-weight: 700;
	line-height: normal;
}
.preview_h5 {
	color: var(--black-700, #35393f);
	/* Preview H5 */
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
}

.preview_h6 {
	color: var(--orange, #e46643);
	font-size: 14px;
	font-weight: 700;
	line-height: normal;
}
.preview_para {
	color: var(--black-700, #35393f);
	/* Preview Paragraph */
	font-size: 14px;
	font-weight: 400;
	line-height: 24px; /* 171.429% */
}
.preview_para_bold {
	color: var(--black-700, #35393f);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px; /* 171.429% */
}
.markdown {
	color: var(--black-700, #35393f);

	/* Markdown Code */
	font-family: Roboto Mono;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px; /* 171.429% */
}

/* Components */
.button {
	border-radius: 4px;
	background: var(--orange, #e46643);

	color: var(--100, #fff);

	/* Heading (M) */
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: normal;
}

.button {
	border-radius: 4px;
	background: var(--orange, #e46643);

	color: var(--100, #fff);

	/* Heading (M) */
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: normal;
	padding: 10px 16px;
}
.button:hover {
	background: var(--orange-hover, #f39765);
}
.button_with_icon {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 8px;
}
/* The switch - the box around the slider */
.switch {
	position: relative;
	/* display: inline-block; */
	width: 116px;
	height: 26px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0px;
	left: 32px;
	right: 32px;
	bottom: 0;
	background-color: #5a6069;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 12px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 5px;
	top: 20%;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #5a6069;
}
input:not(:checked) ~ .dark_mode svg path,
input:checked ~ .light_mode svg path {
	fill: var(--white);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

input[type="text"] {
	background-color: transparent;
	outline: none;
	border-bottom: 1px solid transparent;
}
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:target {
	border-bottom: 1px solid var(--white);
}

.document_name {
	color: var(--white);
}
header {
	background-color: var(--black-800);
}

.menu_button {
	background-color: var(--black-700);
}

section h2 {
	background-color: var(--section-heading-bg);
}

#markdown {
	height: 100%;
	border-right: 1px solid var(--black-600);
}

textarea {
	width: 100%;
	background-color: transparent;
	height: 100%;
	resize: none;
	color: var(--black-400);
	outline: none;
}

#preview,
textarea {
	color: var(--black-400);
}

.aside_menu {
	color: var(--black-400);
}

aside {
	background-color: var(--black-900);
}

.menu_button {
	color: white;
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.menu_button span {
	display: block;
	width: 32px;
	height: 1.2px;
	background-color: var(--white);
}
